@inherits LayoutComponentBase

<PageTitle>InfoFlux Calgary Kiosk Emergency</PageTitle>

<div class="page">

    <main>
    <div class="top-row">
            <div class="column-left">
                <body>

                </body>
            </div>
            <div class="column-right">
                <body>

                </body>
            </div>
            <div class="break"></div>
            <div class="tab-bar">
                <body>

                </body>
            </div>
    </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>