@page "/activities/{_opencase:int?}"
@page "/activities"
@inject IJSRuntime JSRuntime
@inject NavigationManager MyNavigationManager
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="listStyle.css">
</head>

<body>
    <div class="row">
        @*~~~~~~~~~~~~~~~~~~~~~~~~~ This is for the logo(col-2) and search bar (col-10) ~~~~~~~~~~~~~~~~~~~~~~~~~`*@
        <div class="col-2">
            <a class="d-flex justify-content-center" style="height: 90%">
                <img src="@imageSource" />
                @code {
                    private string? imageSource = $"images/Ellipse.png";
                }
            </a>
        </div>
        <div class="col-10">
            <Keyboard />
        </div>


        @*~~~~~~~~~~~~~~~~~~~~~~~~~ This is for the filter (col-2) and accordian list (col-10) ~~~~~~~~~~~~~~~~~~~~~~~*@
        <div class="col-2">

            <h1 style="text-align:center;">Filter</h1>

            <h5 class="mt-2" style="text-align:left;"><b>Type</b></h5>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="chain">
                <label class="form-check-label" for="chain">
                    Attractions
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="loca">
                <label class="form-check-label" for="loca">
                    Entertainment
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="sa">
                <label class="form-check-label" for="loca">
                    Attractions
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="outl">
                <label class="form-check-label" for="loca">
                    Historical
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="outl">
                <label class="form-check-label" for="outl">
                    Sports
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="outl">
                <label class="form-check-label" for="outl">
                    Sightseeing
                </label>
            </div>

            <h5 class="mt-4" style="text-align:left;"><b>Price</b></h5>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="1s">
                <label class="form-check-label" for="1s" style="color: green">
                    $
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="2s">
                <label class="form-check-label" for="2s" style="color: green">
                    $$
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="3s">
                <label class="form-check-label" for="3s" style="color: green">
                    $$$
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="4s">
                <label class="form-check-label" for="4s" style="color: green">
                    $$$$
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="5s">
                <label class="form-check-label" for="5s" style="color: green">
                    $$$$$
                </label>
            </div>

            <div class="dropdown d-flex justify-content-center" style="padding-top: 140px">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                    data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #C8102F; color: black;">
                    Language
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="background-color: #FFC6C6;">
                    <li><a class="dropdown-item" href=@(MyNavigationManager.Uri)>Vietnamese</a></li>
                    <li><a class="dropdown-item" href=@(MyNavigationManager.Uri)>English</a></li>
                    <li><a class="dropdown-item" href=@(MyNavigationManager.Uri)>Chinese</a></li>
                    <li><a class="dropdown-item" href=@(MyNavigationManager.Uri)>Filipino</a></li>
                    <li><a class="dropdown-item" href=@(MyNavigationManager.Uri)>French</a></li>
                </ul>
            </div>

        </div>
        <div class="col-10">
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseOne">
                            <div class="col-3">
                                <img src="/textures/glenbow_museum.jpg" alt="McD" style="width:150px;height:100px;">
                            </div>
                            <!-- accordion-header text content -->
                            <div class="col-6">
                                <h1 style="font-size:150%;">Glenbow Museum</h1>
                                <div class="row">
                                    <div class="col-4">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <p>$ Regional Museum</p>
                                    </div>
                                    <div class="col">
                                        <p>5 am - 10 pm<br>130 9 Ave SE</p>
                                    </div>
                                </div>
                            </div>
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse"
                        aria-labelledby="panelsStayOpen-headingOne">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col">
                                    <img src="/Img/museum_inside.jpg" alt="museum inside"
                                        style="width:225px;height:150px;">
                                </div>
                                <div class="col">
                                    <strong>Ranking</strong><br>123 of Calgary Museum<br><br>
                                    <strong>Price Range</strong><br>$Adult(18+) $55<br>$Senior(65+) $40<br><br>
                                    <strong>Description</strong><br>Across the street from Calgary Tower, this modern,
                                    upscale hotel is a 4-minute walk from Arts Commons and 5 km from Calgary Zoo.Art &
                                    area history museum with a permanent collection & archives, plus visiting exhibits &
                                    events.
                                </div>
                                <div class="col">
                                    <img src="/Img/minimap.JPG" alt="minimap" style="width:225px;height:300px;">
                                    <br>
                                    <input id="clickMe" type="button" value="See on Map" onclick="doActivity();"
                                        style="width:225px; background-color:red" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingThree">

                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="true"
                            aria-controls="panelsStayOpen-collapseThree">
                            <div class="col-3">
                                <img src="/Img/SS.jpg" alt="saddledome" style="width:150px;height:100px;">
                            </div>
                            <!-- accordion-header text content -->
                            <div class="col-6">
                                <h1 style="font-size:150%;">Scotiabank Saddledome</h1>
                                <div class="row">
                                    <div class="col-4">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <p>$$ Arena</p>
                                    </div>
                                    <div class="col">
                                        <p>10:00 a.m - 9:00 p.m<br>555 Saddledome Rise SE,</p>
                                    </div>
                                </div>
                            </div>
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                        aria-labelledby="panelsStayOpen-headingThree">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col">
                                    <img src="/Img/fill2.JPG" alt="fill2" style="width:225px;height:150px;">
                                </div>
                                <div class="col">
                                    <strong>Ranking</strong><br>123 of Calgary Museum<br><br>
                                    <strong>Price Range</strong><br>$Adult(18+) $55<br>$Senior(65+) $40<br><br>
                                    <strong>Description</strong><br>Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua
                                </div>
                                <div class="col">
                                    <a href="/map"><img id=minimap1 src="/Img/minimap.JPG" alt="minimap"
                                            style="width:225px;height:300px;"></a>
                                    <br>
                                    <input id="clickMe" type="button" value="See on Map" onclick="doLodging();"
                                        style="width:225px; background-color:red" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseTwo">
                            <div class="col-3">
                                <img src="/Img/cl.jpg" alt="Central Library" style="width:150px;height:100px;">
                            </div>
                            <!-- accordion-header text content -->
                            <div class="col-6">
                                <h1 style="font-size:150%;">Central Library</h1>
                                <div class="row">
                                    <div class="col-4">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <p>$ Library</p>
                                    </div>
                                    <div class="col">
                                        <p>9:00 am – 8:00 pm<br>800 3 St SE</p>
                                    </div>
                                </div>
                            </div>
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                        aria-labelledby="panelsStayOpen-headingTwo">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col">
                                    <img src="/Img/fill2.jpg" alt="fill2" style="width:225px;height:150px;">
                                </div>
                                <div class="col">
                                    <strong>Ranking</strong><br>123 of Calgary Museum<br><br>
                                    <strong>Price Range</strong><br>$Adult(18+) $55<br>$Senior(65+) $40<br><br>
                                    <strong>Description</strong><br>Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua
                                </div>
                                <div class="col">
                                    <img src="/Img/minimap.JPG" alt="minimap" style="width:225px;height:300px;">
                                    <br>
                                    <input id="clickMe" type="button" value="See on Map" onclick="doFunction();"
                                        style="width:225px; background-color:red" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseFour">
                            <div class="col-3">
                                <img src="/Img/ct.jpg" alt="Calgary Tower" style="width:150px;height:100px;">
                            </div>
                            <!-- accordion-header text content -->
                            <div class="col-6">
                                <h1 style="font-size:150%;">Calgary Tower</h1>
                                <div class="row">
                                    <div class="col-4">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <p>$$ Landmark</p>
                                    </div>
                                    <div class="col">
                                        <p>12 pm - 10 pm <br>101 9 Ave SW</p>
                                    </div>
                                </div>
                            </div>
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
                        aria-labelledby="panelsStayOpen-headingFour">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col">
                                    <img src="/Img/fill2.JPG" alt="McD" style="width:225px;height:150px;">
                                </div>
                                <div class="col">
                                    <strong>Ranking</strong><br>123 of Calgary Museum<br><br>
                                    <strong>Price Range</strong><br>$Adult(18+) $55<br>$Senior(65+) $40<br><br>
                                    <strong>Description</strong><br>Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua
                                </div>
                                <div class="col">
                                    <img src="/Img/minimap.JPG" alt="minimap" style="width:225px;height:300px;">
                                    <br>
                                    <input id="clickMe" type="button" value="See on Map" onclick="doLodging();"
                                        style="width:225px; background-color:red" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseFive">
                            <div class="col-3">
                                <img src="/Img/gc.jpg" alt="Genesis Centre" style="width:150px;height:100px;">
                            </div>
                            <!-- accordion-header text content -->
                            <div class="col-6">
                                <h1 style="font-size:150%;">Genesis Centre</h1>
                                <div class="row">
                                    <div class="col-4">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <p>$ Community Centre</p>
                                    </div>
                                    <div class="col">
                                        <p>9 am - 10 pm<br>7555 Falconridge Blvd NE</p>
                                    </div>
                                </div>
                            </div>
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse"
                        aria-labelledby="panelsStayOpen-headingFive">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col">
                                    <img src="/Img/fill2.JPG" alt="McD" style="width:225px;height:150px;">
                                </div>
                                <div class="col">
                                    <strong>Ranking</strong><br>123 of Calgary Museum<br><br>
                                    <strong>Price Range</strong><br>$Adult(18+) $55<br>$Senior(65+) $40<br><br>
                                    <strong>Description</strong><br>Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua
                                </div>
                                <div class="col">
                                    <img src="/Img/minimap.JPG" alt="minimap" style="width:225px;height:300px;">
                                    <br>
                                    <input id="clickMe" type="button" value="See on Map" onclick="doFunction();"
                                        style="width:225px; background-color:red" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div </div>

        </div>
</body>

</html>

@code {
    [Parameter]
    public int? _opencase { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        _opencase = _opencase ?? 0;
        if (_opencase == 1)
        {
            await JSRuntime.InvokeAsync<string>("openFirstHeader");
        }
    }
}
